<footer class="section-footer border-top py-4">
    <div class="container">
        <section class="mx-auto">
            <div class="row">
                <aside class="col-md col-6">
                    <h6 class="title text-muted">Brands</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#">Code Queens</a></li>
                        <li> <a href="#">Geeks 'R' Us</a></li>
                        <li> <a href="#">Home Software</a></li>
                        <li> <a href="#">CodeMart</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title text-muted">Company</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#">About us</a></li>
                        <li> <a href="#">Career</a></li>
                        <li> <a href="#">Find a store</a></li>
                        <li> <a href="#">Rules and terms</a></li>
                        <li> <a href="#">Sitemap</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title text-muted">Help</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#">Contact us</a></li>
                        <li> <a href="#">Money refund</a></li>
                        <li> <a href="#">Order status</a></li>
                        <li> <a href="#">Shipping info</a></li>
                        <li> <a href="#">Open dispute</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h6 class="title text-muted">Account</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#"> User Login </a></li>
                        <li> <a href="#"> User register </a></li>
                        <li> <a href="#"> Account Setting </a></li>
                        <li> <a href="#"> My Orders </a></li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">Social</h6>
                    <ul class="list-unstyled">
                        <li><a href="#"> <i class="fab fa-facebook"></i> Facebook </a></li>
                        <li><a href="#"> <i class="fab fa-twitter"></i> Twitter </a></li>
                        <li><a href="#"> <i class="fab fa-instagram"></i> Instagram </a></li>
                        <li><a href="#"> <i class="fab fa-youtube"></i> Youtube </a></li>
                    </ul>
                </aside>
            </div> 
        </section>
    
        <section class="footer-bottom border-top row">
            <div class="col-md-2">
                <p class="text-muted"> &copy; 2020 HWS </p>
            </div>
            <div class="col-md-8 text-md-center">
                <span class="px-2">info@hws.ca</span>
                <span class="px-2">+778-800-8080</span>
                <span class="px-2">555 Seymour St. Vancouver, BC</span>
            </div>
        
        </section>
    </div>
    </footer>