<section class="section-main bg py-2">
    <div class="container">

        <div class="row">
            <aside class="col-sm-3">
                <nav class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a class="card-link" href=" #">Geek Gifts</a></li>
                        <li class="list-group-item"><a class="card-link" href="#">Personalized</a></li>
                        <li class="list-group-item"><a class="card-link" href="#">Desk Accessories</a></li>
                        <li class="list-group-item"><a class="card-link" href=" #">Electronics</a></li>
                        <li class="list-group-item"><a class="card-link" href=" #">Technology</a></li>
                        <li class="list-group-item"><a class="card-link" href=" #">Jewelry</a></li>
                    </ul>
                </nav>
            </aside>

            <div class="col-md-9">
                <article class="banner-wrap">
                    <img src="assets/images/banner-img-purp.jpg" class="w-100 rounded">
                </article>
            </div>
        </div> 
    </div> 
</section>