<section class="ad-section padding-y bg">
    <div class="container">
    
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-muted display-4">Get the HWS app</h3>
                <p>Buy amazing stuff with our app</p>
            </div>
            <div class="col-md-6 text-md-right">
                <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i>
                    Download</button>
                <button type="button" class="btn btn-outline-dark btn-lg download-button ml-4"><i
                        class="fab fa-google-play"></i>
                    Download</button>
            </div>
        </div>
    </div>
    </section>