<div class="row my-4">
    <div *ngFor = "let product of products" class="col-lg-3 col-md-6 col-sm-12 product-card px-0 my-3">
    <div href="#" class="container card card-product-grid" style="width: 18rem;">
            <a href="#" class="img-wrap"> 
                <img [src]="product.imagePath" class="card-img-top image" alt="{{ product.imagePath }}"> 
            </a>
            <div class="overlay">
                 <button type="button" class="btn btn-dark py-2 text">See Product</button>
            </div>
            <div class="card-body border-top text-center">
            <div class="card-text">
                <a href="#" class="card-link title"><h5 class="card-title text-muted">{{ product.name }}</h5></a>
                <div class="price mt-1">${{ product.price }}</div>
            </div>
        </div>
    </div>
    </div>
     </div>